{{> layout/header}}

<div class="container mt-2">
    <div class="mt-4 p-5 bg-light text-dark rounded-4">
        <h1>로그인 페이지</h1>
        <form action="/login" method="post">
            <div class="mb-3 mt-3">
                <input type="text" class="form-control" placeholder="Enter username" name="username">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" placeholder="Enter password" name="password">
            </div>
            <button type="submit" class="btn btn-primary">로그인</button>
        </form>
    </div>
</div>

</body>
</html>