{{> layout/header}}

<div class="container mt-2">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>번호</th>
      <th>상품명</th>
      <th>상세보기</th>
    </tr>
    </thead>
    <tbody>
{{#productList}}
    <tr>
      <td>{{id}}</td>
      <td>{{name}}</td>
      <td><a href="/productDetail/{{id}}">상세보기</a></td>
    </tr>
{{/productList}}
    </tbody>
  </table>
</div>
</body>
</html>