{{> layout/header}}

<div class="container mt-2">
    <div class="mt-4 p-5 bg-light text-dark rounded-4">
        <h1>상품수정 페이지</h1>
        <form action="#" method="post">
            <div class="mb-3 mt-3">
                <input type="text" class="form-control" name="name" value="딸기">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" name="stock" value=45>
            </div>
            <div class="mb-3 mt-3">
                <input type="text" class="form-control" name="price" value=2000>
            </div>
            <button type="submit" class="btn btn-primary">상품수정</button>
        </form>
    </div>
</div>

</body>
</html>