{{> layout/header}}

<div class="container mt-2">
    <div class="mt-4 p-5 bg-light text-dark rounded-4">
        <h1>가게에 오신것을 환영합니다.</h1>
        <h3 class="mt-3">
            쌀님
        </h3>
    </div>
</div>

</body>
</html>